<%= render 'layouts/header' %>

<div class="left-contents">
</div>

<div class="right-contents">
  <%= form_with model: @user, url: user_registration_path, class: "form", local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.label :nickname, "ユーザー名" %>
      <%= f.text_field :nickname, class: "field", autofocus: true %>
    </div>

    <div class="form-field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "field", autocomplete: "email" %>
    </div>

    <div class="form-field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "field", placeholder: "英数含む６文字以上", autocomplete: "new-password" %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, "パスワード(確認用)" %>
      <%= f.password_field :password_confirmation, class: "field", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class: "submit-field" %>
    </div>
  <% end %>
</div>