<%= render 'layouts/header' %>

<main class="main-contents">

  <div class="main-top">
    <% unless user_signed_in? %>
      <div class="introduction">
        <%= image_tag 'introduction.png', class: "catchphrase" %>
      </div>
    <% else %>
      <div class="introduction">
        <%= image_tag 'introduction.png', class: "catchphrase" %>
      </div>
    <% end %>
  </div>

  <div class="main-middle">

    <div class="main-center">
      <div class="contents-tags">
        <%= link_to 'Trend', '#', class: "tag" %>
        <%= link_to 'New', '#', class: "tag" %>
        <%= link_to 'Music', articles_path(category_id: 2), class: "tag" %>
        <%= link_to 'MAG', articles_path(category_id: 3), class: "tag" %>
        <%= link_to 'Sports', articles_path(category_id: 4), class: "tag" %>
        <%= link_to 'IT', articles_path(category_id: 5), class: "tag" %>
        <%= link_to 'Science', articles_path(category_id: 6), class: "tag" %>
        <%= link_to 'Other', articles_path(category_id: 7), class: "tag" %>
      </div>
      <% if @articles.present?%>
        <div class="article-lists">
          <% @articles.each do |article| %>
            <div class="article-list">
              <div class="article-left">
                <%= image_tag article.image, class: "article-img" if article.image.attached? %>
              </div>
              <div class="article-right">
                <%= link_to article.title, article_path(article.id), class: "article-title" %>
                <div class="article-day">
                  <%= article.created_at %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% else %>
        <div class="article-lists">
          <div class='article-list'>
              <div class='article-left'>
                <%= image_tag 'spicewolf.jpg', class: "article-img" %>
              </div>

              <div class='article-right'>
                <%= link_to "ポートフォリオサイト", '#', class: "article-title" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <div class="main-right">
      <%= link_to  'All Tags', tags_path, class: "alltags-link"%>
      <div class="tag-lists">
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to tag.name, "#", class: "tag-link" %>
          <% end %>
        <% end %>
      </div>
    </div>

  </main>