<%= render 'layouts/header' %>

<div class='article'>

  <h1 class='article-title'>
    <%= @article.title %>
    <% if user_signed_in? %>
      <% if !FavoriteArticle.exists?(user_id: current_user.id, article_id: @article.id) %>
        <%= link_to article_favorite_articles_path(@article.id), method: :post do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% else %>
        <%= link_to article_favorite_article_path(@article.id), method: :delete do %>
          <i class="fas fa-star yellow"></i>
        <% end %>
      <% end %>
    <% end %>
  </h1>

  <div class='article-edit-delete'>
    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id || current_user.admin == true %>
        <%= link_to '編集', edit_article_path(@article.id), class: 'article-menu' %>
        <%= link_to '削除', article_path(@article.id), method: :delete, class: 'article-menu' %>
      <% end %>
    <% end %>
  </div>

  <div class='article-info'>

    <div class='article-user-contents'>
      <h2><%= link_to @article.user.nickname, user_path(@article.user.id), class: 'article-user-nickname' %></h2>
      <%= render 'relationships/follow_button', user: @article.user %>
    </div>

    <h2><%=link_to @article.category.name, articles_path(category_id: @article.category.id), class: "article-category" %></h2>
    <%@article.tags.each do |tag| %>
      <h2><%= link_to "##{tag.name}", tag_path(tag.id), class: "article-tag" %></h2>
    <%end%>
  </div>

  <div class='article-img-contents'>
    <%= image_tag @article.image, class: 'article-img' %>
  </div>

  <div class='article-contents'>
    <h3 class='article-text'>
      <%= @article.text %>
    </h3>
  </div>

  <div class="comments">
    <h2>All Comments</h1>
    <% if @comments.present?%>
      <ul class=comments-lists>
        <% @comments.each do |comment|%>
          <li class="comment-content">
            <div class="comment-text"><%= comment.text %></div>
            <div class="comment-right">
              <%= link_to comment.user.nickname, user_path(comment.user.id), class: "comment-user" %>
              <div class="comment-created-at"><%= comment.created_at.strftime("%Y-%m-%d %H:%M")%></div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="comment-form">
      <% if user_signed_in? %>
        <%= form_with model: @comment, url: article_comments_path(@article.id), local: true do |f| %>
          <%= f.text_field :text %>
          <%= f.submit "Comment"%>
        <% end %>
      <% end%>
    </div>

  </div>
</div> 