<header class="header">

  <div class="header-left">

    <%= link_to image_tag('logo.png', class: 'logo-icon'), '/' %>
    
  </div>

  <div class="header-center">

    <div class="contents">
      <%= link_to "#", class: "content-link" do %>
        <%= image_tag('trend.png', class: "content-img img") %>
        <span class="content-name none">Trend</span>
      <% end %>
      <%= link_to "#", class: "content-link" do %>
        <%= image_tag('new.png', class: "content-img img") %>
        <span class="content-name none">New</span>
      <% end %>

      <div class="search">
        <form class="search-form none none1">
          <input class='search-box' placeholder='Search'>
          <input class= 'submit' type="submit" value="&#xf002">
        </form>

        <div class="day-search">
          <%= link_to "#", class: "content-link" do %>
            <%= image_tag('new.png', class: "content-img img") %>
            <span class="content-name none">Day Search</span>
          <% end %>
        </div>
      </div>

      <div class="post">
        <%= link_to new_article_path, class: "content-link" do %>
          <%= image_tag('post.png', class: "content-img img") %>
          <span class="content-name">New Post</span>
        <% end %>
      </div>

    </div>
    
  </div>

  <div class="header-right">

    <ul class="user-options">
      <% if user_signed_in? %>

        <!-- 折り畳み展開ポインタ -->
        <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;" class="user-nickname"><%= current_user.nickname %></a>
        </div>

        <div id="open" style="display:none;clear:both;">
          <li><%= link_to 'OPTIONS', "#", class: "user-nickname"  %></li>

          <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout"  %></li>
        </div>
        <!--// 折り畳まれ部分 -->

        
      <% else %>
        <li><%= link_to 'LOGIN', new_user_session_path, method: :get, class: "login" %></li>
        <li><%= link_to 'SIGN UP', new_user_registration_path, method: :get, class: "sign-up" %></li>
      <% end %>
    </ul>
    
  </div>

</header>

