<header class="header">

  <div class="header-left">

    <%= link_to image_tag('logo.png', class: 'logo-icon'), '/' %>
    
  </div>

  <div class="header-center">

    <div class="contents">
      <%= link_to articles_path(option: "A"), class: "content-link" do %>
        <i class="fas fa-poll"></i>
        <span class="content-name none">Trend</span>
      <% end %>
      <%= link_to articles_path(option: "B"), class: "content-link" do %>
        <i class="far fa-clock"></i>
        <span class="content-name none">New</span>
      <% end %>

      <div class="search">
        <%= form_with url: search_path, method: :get, class: 'search-form none1 ', local: true do |f| %>
          <%= f.text_field :search, class: 'search-box' %>
          <%= f.button type: 'submit', class: 'submit' do%>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>

        <div class="day-search none none1">
          <%= link_to "#", class: "content-link" do %>
            <i class="far fa-clock"></i>
            <span class="content-name none">Day Search</span>
          <% end %>
        </div>
      </div>

      <div class="post">
        <%= link_to new_article_path, class: "content-link" do %>
          <i class="far fa-comment-alt"></i>
          <span class="content-name">New Post</span>
        <% end %>
      </div>

    </div>
    
  </div>

  <div class="header-right">

    <ul class="user-options">
      <% if user_signed_in? %>

        <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;" class="user-nickname"><%= current_user.nickname %></a>
        </div>

        <div id="open" style="display:none;clear:both;">

          <li><%= link_to 'MY PAGE', user_path(current_user.id), class: "user-nickname"%></li>

          <li><%= link_to 'OPTIONS', "#", class: "user-nickname"  %></li>

          <% if current_user.admin == true %>
            <li><%= link_to 'ADMIN PAGE', "#", class: "logout" %></li>
          <% end %>

          <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout"  %></li>
        </div>
        
      <% else %>
        <li><%= link_to 'LOGIN', new_user_session_path, method: :get, class: "login" %></li>
        <li><%= link_to 'SIGN UP', new_user_registration_path, method: :get, class: "sign-up" %></li>
      <% end %>
    </ul>
    
  </div>

</header>

