
<div class="main-form">
  <%= form_with url: articles_path, class: "article-form", local: true do |f| %>

    <div class="title-field" >
      <%= f.text_field :title, placeholder: "Title", class: "title-form", autofocus: true %>
    </div>

    <div class="info-field">

      <div class="img-field">
        <%= f.label :image, "IMAGE"%>
        <%= f.file_field :image, placeholder: "記事画像"%>
      </div>

      <div class="category-field">
        <%= f.label :category_id, "Category" %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: "select-box" })%>
      </div>

      <div class="tag-field">
        <%= f.label :name, "Tag" %>
        <%= f.text_field :name, class: "field" %>
      </div>
    </div>

    <div class="text-field">
      <%= f.text_area :text, placeholder: "Text", class: "text-form" %>
    </div>

    <div class="actions">
      <%= f.submit "Share", class: "submit-field" %>
    </div>

  <% end %>
</div>